
.ipynb_checkpoints/Icon
.ipynb_checkpoints/tutorial-checkpoint.ipynb
Icon
.ipynb_checkpoints/Icon
.ipynb_checkpoints/Icon
.slides.tex.swp
Icon
slides.aux
slides.bbl
slides.bcf
slides.blg
slides.fdb_latexmk
slides.fls
slides.log
slides.nav
slides.out
slides.run.xml
slides.snm
slides.tex
slides.toc
slides.sigmoid.gnuplot
slides.pgf-plot.gnuplot
Icon
.ipynb_checkpoints/Icon
.ipynb_checkpoints/Icon
Icon
imgs/random_search.png
imgs/seq2seq.png
imgs/RNN-unrolled.png
